<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
    <title>Todos los proyectos</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div id="project_table">
                <table>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
</html>