<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Registro del projecto</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="header-container">
                <h2 class="header">Registro del projecto</h2>
            </div>
        </div>
        <div id="form-container">
            <form action="" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="project_name">Introduzca el nombre del projecto:</label>
                        <input type="text" class="form-control" id="project_name">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="owner_name">Introduzca el nombre del dueno de la obra:</label>
                        <input type="text" class="form-control" id="owner_name">
                    </div>
                    <div class="button-container">
                        <button class="btn btn-primary">Confirmar Informacion</button>
                        <button class="btn">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>